#container {
    text-align: center;
    background: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#container h1 {
    color: #57708C;
    text-align: center;
    font-size: 48px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 133.9%;
}
ion-button {
    margin-top: 10%;
    width: 155px;
    height: 45px;
    border-radius: 25px;
    text-transform: initial;
    --background: #57708C;   
    color: #FFF;
}
.btn-container {
    top: 170px;
    position: relative;
}

ion-icon {
    font-size: 18px;
    padding-left: 40px;
}

