<ion-content [fullscreen]="true">
  <div id="container">
    <img src="assets/images/bg-login1.png" alt="sanjose">
    <h1>Hello<br>Welcome back</h1>

    <form class="login-form" (keydown.enter)="logMeIn()">
      <ion-item >
        <!-- <ion-label position="floating" class="custom-label">Email or username</ion-label> -->
        <ion-input type="text" labelPlacement="floating" label="Email or username" [(ngModel)]="Username" name="username" ></ion-input>
      </ion-item>
      <ion-item >
        <!-- <ion-label position="floating" class="custom-label">Password</ion-label> -->
        <ion-input type="password" labelPlacement="floating" label="Password" [(ngModel)]="Password" name="password"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <input type="checkbox" id="remember-me" name="remember-me">
          <label for="remember-me">Remember me</label>
          <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="logMeIn()" type="submit">Login</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>