<ion-content [fullscreen]="true">
    <div id="container">
		<div class="img-container">
			<img src="assets/images/sanjose.png" alt="sanjose">
		</div>
        <div class="ctt-container">
			<h1>Welcome to NeGrowTio</h1>
			<p>San Jose Batangas Public Market Vendor and Community Credit Cooperative</p>

			<div class="btn-container">
				<ion-button shape="round" class="login-btn">Login</ion-button> 
				<ion-button shape="round" class="notmember-btn">Not a member?</ion-button>
			  </div>
		</div>
    </div>
</ion-content>
