<ion-content [fullscreen]="true">
  <img src="assets/images/bg.png" alt="sanjose" class="bg">
  <div class="ctt-container">
    <h1>Membership<br> Application Form</h1>
    <h3>Personal Information<span>1/3</span></h3>
    <form class="app-form">
      <p>Basic Information</p>
      <ion-item lines="none">
        <ion-input type="text" placeholder="Last name"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input type="text" placeholder="First name"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input type="text" placeholder="Middle name"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input type="text" placeholder="Place of birth"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="custom-lbl">Date of Birth</ion-label>
        <ion-icon name="calendar" slot="end" (click)="openDatePicker()"></ion-icon>
      </ion-item>
      <div class="input-group">
        <ion-item lines="none" class="input-item">
          <ion-input type="text" placeholder="Height (cm/ft)" class="custom-input"></ion-input>
        </ion-item>
        <ion-item lines="none" class="input-item">
          <ion-input type="text" placeholder="Weight (kg)"></ion-input>
        </ion-item>
      </div>
      <ion-item lines="none">
        <ion-input type="text" placeholder="Highest completed education/course"></ion-input>
      </ion-item>
      <p>Identification</p>
      <ion-item lines="none">
        <ion-input type="text" placeholder="Tax ID number"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input type="text" placeholder="SSS ID number"></ion-input>
      </ion-item>
    </form>
  </div>
  <div class="ctt-bg">
      
  </div>
  <div class="btn-container">
      <ion-button shape="round" class="view-req-btn">View Requirements</ion-button>
  </div>
</ion-content>
