// ion tabs
ion-tab-bar {
  border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
ion-tab-button{
  background: #57708C;
  color: #FFF;
  
}
.custom-tabs {
  ion-tabs {
    ion-tab-button {
      ion-label {
        font-size: 16px; /* Adjust the font size to your preference */
        position: relative;
        top: .1em;
      }
    }
  }
}

.tab-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tab-button .icon-container ion-icon {
  margin-right: 5px;
  font-size: 20px;
}
.active {
  color: #FFF;
}
.active-icon {
  color: #FFF;
}

