#container {

  position: absolute;
 
}
ion-header {
  padding: 20px;
  height: 12vh;
}
.ion-notif {
  padding-left: 8rem;
  color: #57708C;
}
.ion-prof {
  background-color: #57708C;
  border-radius: 50%;
  color: #fff;
  padding: 15px;
}
.header-sect {
  width: 428px;
  padding: 10px;
  height: 120px;
  background: linear-gradient(89deg, #57708C 0%, #57708C 53.13%, #57708C 100%);
}
.header-sect h3 {
  color: #FFF;
  padding-left: 20px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.9%;
  letter-spacing: 1.92px;
}
.header-sect h1 {
  padding: 20px;
  margin-top: 0;
  padding-top: 0;
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.9%;
  letter-spacing: 2.56px;
}
.custom-lbl {
  text-transform: initial;
}




ion-col {
  border: solid 1px #fff;
  text-align: center;
}
.content-sect h1 {
  padding-left: 35px;
  color: #000;
font-size: 24px;
font-weight: 700;
line-height: 133.9%;
letter-spacing: 1.92px;
}
ion-toolbar {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
}

.header-title {
  text-align: center;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-tab-bar {
  border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
ion-tab-button{
  background: #57708C;
  color: #FFF;
  
}
.tab-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ion-icon {
  margin-right: 5px;
  font-size: 20px;
}

ion-label {
  position:relative;
  top: 2px;
  text-align: right;
  font-size: 15px;

}

