<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon name="person-outline" class="ion-prof" ></ion-icon>
      </ion-buttons>
      <ion-title class="header-title">JOHN DOE</ion-title>
      <ion-buttons slot="end" class="ion-notif" size="large">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  

  <div class="header-sect">
    <h3>Balance</h3>
    <h1>10,000</h1>
  </div>
  <div class="content-sect">
    <ion-segment value="custom">
      <ion-segment-button value="Week">
        <ion-label class="custom-lbl">Week</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Month">
        <ion-label class="custom-lbl">Month</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Year">
        <ion-label class="custom-lbl">Year</ion-label>
      </ion-segment-button>
    </ion-segment>
  
    <h1>Summary</h1>
    <ion-grid>
      <ion-row>
        <ion-col>Name of Purpose</ion-col>
        <ion-col>php. 1,810.00</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Name of Purpose</ion-col>
        <ion-col>php. 1,810.00</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Name of Purpose</ion-col>
        <ion-col>php. 1,810.00</ion-col>
      </ion-row>  
      <ion-row>
        <ion-col>Name of Purpose</ion-col>
        <ion-col>php. 1,810.00</ion-col>
      </ion-row><ion-row>
        <ion-col>Name of Purpose</ion-col>
        <ion-col>php. 1,810.00</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Name of Purpose</ion-col>
        <ion-col>php. 1,810.00</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Name of Purpose</ion-col>
        <ion-col>php. 1,810.00</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Name of Purpose</ion-col>
        <ion-col>php. 1,810.00</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button expand="block" (click)="toggleLabel()" class="tab-button">
        <div class="icon-container">
          <ion-icon [name]="showLabel ? 'home' : 'home-outline'"></ion-icon>
          <ion-label>{{ showLabel ? 'Home' : '' }}</ion-label>
        </div>
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="albums-outline"></ion-icon>
        Loans
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="timer-outline"></ion-icon>
        Credit
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="person-outline"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>