ion-toolbar {
  padding: 3em 1em 1em;
}
.ion-add {
  color: #57708C;
  padding-right: .5em;
}

// ion toolbar
.header-title {
  color: #57708C;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.9%;
  letter-spacing: 2.56px;
} 

// button add
.custom-itm {
  margin-left: 10px;
}
.custom-itm ion-icon{
  padding-right: 20px;
}
.header-amt {
  width: 100%;
  padding: .5em .5em 0 1em;
  background: linear-gradient(89deg, #57708C 0%, #57708C 53.13%, #57708C 100%);
}
.header-amt h3 {
  color: #FFF;
  padding: 0 20px 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.9%;
  letter-spacing: 1.92px;
}
.header-amt h1 {
  padding: 0 20px 20px;
  margin: 0 0;
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.9%;
  letter-spacing: 2.56px;
}

// segment
.custom-lbl {
  text-transform: initial;
}
ion-segment-button::part(indicator-background) {
  background: #E6F4F1;
}

/* Material Design styles */
ion-segment-button.md::part(native) {
  color: #57708C;
}

.segment-button-checked.md::part(native) {
  color: #08a391;
}

ion-segment-button.md::part(indicator-background) {
  height: 4px;
}

/* iOS styles */
ion-segment-button.ios::part(native) {
  color: #08a391;
}

// loan summary grid
.custom-purpose {
  color: #1E1E1E;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.28px;
}
.custom-position {
  text-align: right;
}
.custom-status {
  padding-top: 0;
  color: #000;
  font-size: 12px;
  font-style: normal;
  letter-spacing: 0.96px;
}
ion-grid {
  margin: 0 1.5em;
}

.content-sect h1 {
  padding: 0 1.5em;
  margin-top: .5em;
  color: #57708C;  
  font-size: 24px;
  font-weight: 700;
  line-height: 133.9%;
  letter-spacing: 1.92px;
}

.content-logs {
  height: 45vh;
  overflow-y: auto;
}
